body
{
	background-color: #BBAAB8;
}

.navbar
{
	background-color: #292643;
}

.nav-item:hover{

	background-color: #292643;
	}
	

footer
{
	background-color: #44426E;
}

.contenido
{
    align-content: center;
    background-color:#292643;
    padding: 2% ;
    margin-left: 15%;
    margin-right: 15%;
}