@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
    background-color: #44426e;

    
}

h1
{
    color: white;
    text-align: center;
}

.nav-item:hover{

background-color: #292643;
}

.texto-pagina-principal{
    color: #E99E75;
    text-align: center;
}

.btn 
{
    background-color: #e99e75;
}

.contenido
{
    align-content: center;
    background-color:#292643;
    padding: 2% ;
    margin-left: 15%;
    margin-right: 15%;
}