@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
    background-color: #44426e;

    
}

.nav-item:hover{

background-color: #292643;
}

.texto-pagina-principal{
    color: #E99E75;
    text-align: center;
}

.btn 
{
    background-color: #e99e75;
}